<!-- about_me_content.ejs - Chloe Baker - 301062067 - October 22, 2020 -->

<p><img src="/Assets/images/me.jpg" alt="Picture of me"></p>

<p>
    Hi, I'm Chloe Baker. I am currently studying Game-Programming at Centennial College. I am working towards 
    earning an Advanced Diploma. Some courses I have completed include: 
    <ul>
        <li>Programming 1 and Programming 2</li>
        <li>Intro to Game and Simulation</li>
        <li>Client-Side Web Development</li>
        <li>Assets for Game Developers</li>
        <li>Unix/Linux Operating Systems</li>
        <li>Introduction To Database Concepts</li>
        <li>Software Engrg Methodologies 1</li>
    </ul>
    During my time in college I have gained experience programming with C#, Java, JavaScript, and Python. 
    I have used my programming knowledge to create 2D games in Unity, and learned how to create 2D 
    and 3D game assets. I have also gained experience creating web pages, and I'm currently learning about 
    creating web applications. 
    Some things I like to do in my spare time are draw, watch movies, play video games, and spend time with 
    my friends and family. 
</p>

<p><a href="/Assets/resume.pdf">Here is a PDF version of my resume.</a></p>