<!-- bottom_nav.ejs - Chloe Baker - 301062067 - October 22, 2020 -->
<!-- (fixed bottom footer) -->

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text ml-auto">&copy; F2020 Assignment 2 - Chloe Baker </h6>
  </nav>
</footer>