<img src="/Assets/images/me.jpg" alt="Picture of me" width="50%" height="50%">

<p>Hi, I'm Chloe Baker. I am currently studying Game-Programming at Centennial College. I am working towards 
    earning an Advanced Diploma. Some things I like to do in my spare time are draw, watch movies, 
    play videogames, and spend time with my family. 
</p>