<!-- Bottom nav (fixed bottom footer) -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; F2020 Assignment 1 - Chloe Baker </h6>
    </nav>
</footer>