<h1>Welcome</h1>
<p>This website shows information about me. It includes projects I have done, 
    some information about me, and services I can provide.</p>
<ul style="list-style-type:none;">
    <li><a href="/about">Click here to see my info</a></li>
    <li><a href="/projects">Click here to see some of my projects</a></li>
    <li><a href="/services">Click here to see some services I can provide</a></li>
    <li><a href="/contact">Click here for my contact information</a></li>
</ul>
    
        
            