<!-- home_content.ejs - Chloe Baker - 301062067 - October 8, 2020 -->

<!-- Welcome -->
<h1>Welcome</h1>
<p>
    This website will give you some insight into who I am, and some of the things I have learned. It includes projects I have done, 
    some information about my time in college and my hobbies, and the services I can provide.
</p>

<!-- Links to other pages -->
<ul style="list-style-type:none;">
    <li><a href="/about">Click here to learn more about me</a></li>
    <li><a href="/projects">Click here to see some of my completed and current projects</a></li>
    <li><a href="/services">Click here to see some services I can provide</a></li>
    <li><a href="/contact">Click here for my contact information, or to send me a message</a></li>
</ul>
    
        
            