<!-- main_nav.ejs - Chloe Baker - 301062067 - October 8, 2020 -->

<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/Assets/images/logo.png" alt="logo" width="50" height="50"> Portfolio</a>
    
    <!-- "hamburger" -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"> <!-- mr-auto makes the nav go on the left -->
        
        <!-- Using ejs to set the correct nav icons to active as necessary -->
        <% if (title == "Home") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-user-graduate"></i> Home </a>
        </li>
        
        <!-- About Me link -->
        <% if (title == "About Me") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-lg fa-address-card"></i> About Me </a>
        </li>
        
        <!-- Projects link -->
        <% if (title == "Projects") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/projects"><i class="fas fa-lg fa-archive"></i> Projects </a>
        </li>
        
        <!-- Services link -->
        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/services"><i class="fas fa-lg fa-laptop-code"></i> Services </a>
        </li>
        
        <!-- Contact Me link -->
        <% if (title == "Contact Me") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact"><i class="fas fa-lg fa-paper-plane"></i> Contact Me </a>
        </li>

    </div>
  </nav>