<!-- services_content.ejs - Chloe Baker - 301062067 - October 8, 2020 -->

<p>
    Services I can provide inlude:
    <ul style="list-style-type:none;">
        <li>Coding in C#, Java, or Python
            <br/><img src="/Assets/images/csharp_logo.png" alt="c# logo" height="50" width="50">
            <img src="/Assets/images/java_logo.png" alt="java logo" height="50" width="50">
            <img src="/Assets/images/python_logo.png" alt="python logo" height="50" width="50"></li>
        <li>Creating 2D art assets 
            <br/><img src="/Assets/images/gimp_logo.png" alt="gimp logo" height="50" width="50"></li>
        <li>3D Modelling 
            <br/><img src="/Assets/images/blender_logo.png" alt="blender logo" height="50" width="50"></li>
    </ul>
</p>