/*Project image gallery*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

/*Add space at the bottom to be able to scroll down*/
.container {
    padding-bottom: 60px;
}

.projects-description {
  text-align:center;
}