/* public/Content/app.css - Chloe Baker - 301062067 - October 22, 2020 */

/* Project 2 & 3 - image gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

/* Add space at the bottom to be able to scroll down comfortably */
.container {
    padding-bottom: 100px;
}

/* Change colour and center text on jumbotron */
.jumbotron {
  text-align: center;
  background-color: #edeefc;
}

/* Center the text on the projects page */
.projects-description {
  text-align:center;
}